@model Ecommerce.ViewModel.UserProductViewModel
@{
    ViewBag.Title = "Load More";
}
<div class="bestSeller-nav-container">
      <ul class="bestSeller-nav">
        <li><a href="#" class="active">Home</a></li>
        <li>/</li>
        <li><a href="#" class="active">Hot Deals</a></li>
        <li>/</li>
        <li><a href="#" style="color: #262626">@Model.Product.Name</a></li>
      </ul>
    </div>
@{
    int n = Model.Product.Id;
}
<div class="bestSeller-container">
      <div class="bestSeller">
        <img src=@Model.Product.ProductImage alt="" width="100%" />
        <div class="bestSeller-desc">
          <h3>@Model.Product.Name</h3>
          <p class="stars reviews">
            @{
                for(int i = 0; i < 5; i++)
                {
                    if(i < Model.Product.Ratings)
                    {
                        <i class="fa-solid fa-star stars-ratings"></i>
                    }
                    else
                    {    
                        <i class="fa fa-star stars-gray"></i>
                    }
                }
            }
            &nbsp;&nbsp;</><span style="color: #262626"> 0 reviews</span>
            <a href="#">submit a review</a>
          </p>
          <hr />
          <div class="load-price">
              @{
                   int amount = (int) Model.Product.UnitPrice;
                   int discountAmount = (int) Model.Product.DiscountedUnitPrice;
                    string price2 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{amount}");
                 string discountedPrice2 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{discountAmount}");
              }
            <p>@price2</p>
            <p>@discountedPrice2</p>
            <p>@Model.Product.PercentOff% Off</p>
          </div>
          <div class="stock-container">
            <ul class="stock">
              <div class="stock-avail">
              <li>Availability: </li>
                <p>In stock</p>
            </div>
            <div class="stock-avail">
              <li>Category :</li>
                 <p>Accessories</p>
              </div>
              <li>Free shipping:</li>
            </ul>
          </div>
          <hr>
          <div class="select-color">
            <div class="colors">
              <p>Select Color:</p>
                @{
                    //string[] colorsArr= Model.Product.Colors.Split();
                   // foreach(string color in colorsArr)
                   //// {
                    //    <span class="dot blue" style="background-color:@color"></span>
                   // }
                }
            </div>
          </div>
          <div>
          <div class="size">
            <form>
              <label for="cars">Size:</label>
              <select name="cars" id="cars">
                <option value="volvo">XS</option>
                <option value="volvo">L</option>
                <option value="saab">XL</option>
                <option value="opel">XXL</option>
              </select>
            </form>            
          </div>
        </div>
        </div>
        <div class="best-container">
          <div class="bst">
          <img src=@Model.Products[0].ProductImage alt="">
          <p class="stars reviews">
            @{
                for(int i = 0; i < 5; i++)
                {
                    if(i < Model.Products[0].Ratings)
                    {
                        <i class="fa-solid fa-star stars-ratings"></i>
                    }
                    else
                    {    
                        <i class="fa fa-star stars-gray"></i>
                    }
                }
            }
            </p>
            <div class="discount">
              <p >$499</p>
              <p>$599</p>
  
            </div>
          </div>
  
        </div>
       
      </div>

    </div>
    <div class="product-images">
      <div class="diff-images">
        <a href=""><img src="@Model.Products[3].ProductImage" alt=""></a>
        <a href=""><img src="@Model.Products[4].ProductImage" alt=""></a>
        <a href=""><img src="@Model.Products[6].ProductImage" alt=""></a>
        <a href=""><img src="@Model.Products[7].ProductImage" alt=""></a>

        <div class="count">
          <a href="#"><p class="minus">-</p></a>
          <a href="#"><p class="number-count">2</p></a>
          <a href="#"><p class="plus">+</p></a>
        </div>

        <div class="cart carts">
          <a href="#"><i class="fas fa-shopping-cart"></i> Add to cart</a>
          <a href="#"><i class="far fa-heart"></i></a>   

      
      </div>
    </div>

   
    </div>
    <div class="socials"> 
      <a href="#"><i class="fab fa-twitter">Share on twitter</i></a>
      <a href="#"><i class="fab fa-facebook">Share on facebook</i></a>
    </div>

    <div class="views-container">
       <div class="views">
    <li><a href="#">Product Information</a></li>
    <li><a href="#">Reviews <span>0</span></a></li>
    <li><a href="#">Another tab</a></li>
    </div>
    <hr>
    <div class="views-text">
     @Model.Product.Description
    </div>
    </div>

<div class="related-products">
  <h3>Related Product</h3>
    </div>
    <div class="all-container">
      <div class="all">
        @{
               <div class="all-image">
                <img src=@Model.Products[2].ProductImage alt="" width="100%" />
            </div>
            <div class="all-container-text">
                <h3>@Model.Products[2].Name</h3>
                <p class="stars">
                @{
                for(int i = 0; i < 5; i++)
                {
                    if(i < @Model.Products[2].Ratings)
                    {
                        <i class="fa-solid fa-star stars-ratings"></i>
                    }
                    else
                    {    
                        <i class="fa fa-star stars-gray"></i>
                    }
                }
                 string price3 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[2].UnitPrice)}");
                 string discountedPrice3 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[2].DiscountedUnitPrice)}");
            }
                </p>
                <div class="prices">
                <p>@price3</p>
                <p>@discountedPrice3</p>
                <p>@Model.Products[2].PercentOff% Off</p>
                </div> 
            </div> 
            }
      </div>
 <div class="all">
        @{
               <div class="all-image">
                <img src=@Model.Products[6].ProductImage alt="" width="100%" />
            </div>
            <div class="all-container-text">
                <h3>@Model.Products[6].Name</h3>
                <p class="stars">
                @{
                for(int i = 0; i < 5; i++)
                {
                    if(i < @Model.Products[6].Ratings)
                    {
                        <i class="fa-solid fa-star stars-ratings"></i>
                    }
                    else
                    {    
                        <i class="fa fa-star stars-gray"></i>
                    }
                }
                 string price = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[6].UnitPrice)}");
                 string discountedPrice = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[6].DiscountedUnitPrice)}");
            }
                </p>
                <div class="prices">
                <p>@price</p>
                <p>@discountedPrice</p>
                <p>@Model.Products[5].PercentOff% Off</p>
                </div> 
            </div> 
            }
      </div>
      <div class="all">
        @{
               <div class="all-image">
                <img src=@Model.Products[3].ProductImage alt="" width="100%" />
            </div>
            <div class="all-container-text">
                <h3>@Model.Products[3].Name</h3>
                <p class="stars">
                @{
                for(int i = 0; i < 5; i++)
                {
                    if(i < @Model.Products[3].Ratings)
                    {
                        <i class="fa-solid fa-star stars-ratings"></i>
                    }
                    else
                    {    
                        <i class="fa fa-star stars-gray"></i>
                    }
                }
                 string price22 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[3].UnitPrice)}");
                 string discountedPrice22 = Ecommerce.Utilities.PriceAdjuster.PriceEdit($"{Convert.ToInt32(@Model.Products[3].DiscountedUnitPrice)}");
            }
                </p>
                <div class="prices">
                <p>@price22</p>
                <p>@discountedPrice22</p>
                <p>@Model.Products[3].PercentOff% Off</p>
                </div> 
            </div> 
            }
      </div>

    <script src="app.js"></script>
